a {
  color: blue; /* Cambia il colore del link */
  text-decoration: underline; /* Sottolinea il link */
  cursor: pointer; /* Mostra il cursore come 'pointer' quando passi sopra il link */
}

.send-bttn {
    position: relative;
    top: -10%;
    height: 100%;
  }

  .message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }

  .message-sender {
    font-weight: bold;
    margin-right: 5px;
  }

  .message-text {
    word-wrap: break-word;
  }