<div class="card" style="height: 100%;">
    <div class="card-header">Chat</div>
    <div class="card-body" style="overflow-y: auto; height: 60vh;">
        <div class="message" *ngFor="let message of socketService.messages">
            <div class="message-sender">
                {{ message.isSystem ? 'Server:' : (message.isYou ? 'You:' : (socketService.camPartner ?
                socketService.camPartner.userData.username + ':' : 'Partner:')) }}
            </div>
            <div class="message-text">
                {{ message.content }}
            </div>
        </div>
    </div>
    <div class="card-footer d-flex">
        <textarea class="form-control" rows="2" style="resize: none;" [formControl]="newMessage"
            placeholder="Type your message" (keydown)="messageKeydown($event)"></textarea>
        <button class="btn btn-primary mt-2 ml-2 send-bttn" (click)="sendMessage()">Send</button>
    </div>
</div>