<div class="container mt-5">
    <div class="card">
        <!-- Informazioni in cima -->
        <app-vcall-header></app-vcall-header>
        <!-- Corpo della card -->
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <app-cams-displayer></app-cams-displayer>
                </div>
                <div class="col-md-6">
                    <app-chat></app-chat>
                </div>
            </div>
        </div>
    </div>
</div>