<form [formGroup]="form">
    <label for="username">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Insert your name" formControlName="username">

    <label for="interest">Interests:</label>
    <div>
        <input type="text" id="interest" class="form-control" style="width: 80%; display: inline;"
            placeholder="Add interest" (keydown)="interestKeydown($event)" [formControl]="interestInput">
        <button class="btn btn-primary mt-2" (click)="addInterest()" id="addInterest">Add</button>
    </div>
    <ul id="interestList">
        <li class="interest-item" *ngFor="let interest of interests">
            {{ interest }}
            <span class="remove-interest" (click)="removeInterest(interest)">x</span>
        </li>
    </ul>

    <label for="userPurpose">What do you wanna do here?</label>
    <textarea id="userPurpose" class="form-control" rows="3" placeholder="Explain yourself"
        formControlName="purpose"></textarea>

    <div class="row" id="radios">
        <div class="col">
            <label>Age:</label>
            <div class="form-check">
                <input type="radio" id="age18" name="isMinor" class="form-check-input" formControlName="isMinor"
                    [value]="false">
                <label class="form-check-label" for="age18">18+</label>
            </div>
            <div class="form-check">
                <input type="radio" id="ageNot18" name="isMinor" class="form-check-input" formControlName="isMinor"
                    [value]="true">
                <label class="form-check-label" for="ageNot18">Less than 18</label>
            </div>
        </div>
        <div class="col">
            <label>Remember me:</label>
            <div class="form-check">
                <input type="radio" id="yesRememberMe" name="rememberMe" class="form-check-input"
                    formControlName="rememberMe" [value]="true">
                <label class="form-check-label" for="age18">Yes</label>
            </div>
            <div class="form-check">
                <input type="radio" id="noRememberMe" name="rememberMe" class="form-check-input"
                    formControlName="rememberMe" [value]="false">
                <label class="form-check-label" for="ageNot18">No</label>
            </div>
        </div>
    </div>
</form>