#interestList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.interest-item {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f3a23f;
    font-weight: 500;
}

.remove-interest {
    cursor: pointer;
    color: #ff0000;
    margin-left: 5px;
}

#addInterest {
    margin-bottom: 2%;
    margin-left: 5px;
}

#userPurpose {
    resize: none;
}